<launch>

<param name="robot_description" textfile="$(find ag_pan_tilt)/urdf/head.urdf" />

<!--node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" /-->

<!-- robot_state_publisher pubblica il joint_state sul tf per visualizzrlo in rviz -->
<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
<node name="rviz" pkg="rviz" type="rviz" args="-d $(find ag_pan_tilt)/urdf/turret.rviz" required="true" />

</launch>
